  .item-detail {
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: fit-content;
    max-width: 800px;
    height: fit-content;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
  }
  .overlay {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .close-button {
    background-color: transparent;
    border: none;
    float: right;
    cursor: pointer;
    margin-top: -12px;
    margin-right: -12px;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  img.thumb {
    height: 100px;
    width: auto;
    margin: 10px;
    &:hover {
      cursor: pointer;
      border: 1px solid black;
    }
  }
  .thumbnail {
    width: 100px;
  }
  .info {
    margin: 10px 20px;
  }
  .item-detail-name {
    font-size: 20px;
    font-weight: 500;
  }
  .item-detail-price {
    color: rgb(211, 5, 5);
    font-weight: 600;
    padding: 10px 0 10px 0;
  }
  .sizes-title {
    padding-top: 15px;
  }
  .active-size-button {
    background-color: black;
    color: white;
    width: 70px;
    padding: 10px 20px;
    margin: 10px 6px;
    border-radius: 25px;
    border: 2px solid rgb(104, 104, 104);
    &:hover {
      cursor: pointer;
      background-color: rgb(213, 213, 213);
      transition: 0.5s;
    }
  }
  .inactive-size-button {
    background-color: transparent;
    color: black;
    width: 70px;
    padding: 10px 20px;
    margin: 10px 6px;
    border-radius: 25px;
    border: 2px solid rgb(104, 104, 104);
    &:hover {
      cursor: pointer;
      background-color: rgb(213, 213, 213);
      transition: 0.5s;
    }
  }
  .item-add-button {
    background-color: black;
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background-color: transparent;
      border: 2px solid black;
      color: black;
      transition: 0.3s;
    }
  }
  .desc {
    white-space: pre-line;
  }
  
