body {
  background-color: rgb(246, 245, 245);
}

td {
  vertical-align: middle;
}

.upper-display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  height: 50px;
}

.details {
  margin-bottom: -10px;
  display: flex;
  vertical-align: middle;
}

.productName {
  margin-left: 10px;
}

.ghost {
  margin-left: 50px;
  margin-top: 10px;
  float: left;
}

.help {
  margin-left: 900px;
  margin-top: 0px;
}

.blog {
  margin-left: 30px;
  margin-top: 0px;
}

.ghost-com {
  margin-left: 30px;
  margin-top: 0px;
}

.solid {
  border-top: 2px solid #bbb;
  margin-top: 0px;
}

.details-two {
  margin:0 30px;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: rgb(246, 245, 245);
  z-index: 1;
}

.r {
  margin: 11px 20px;
}

.search-field {
  margin-left: 20px;
  margin-top: 6px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 25px;
  width: 250px;
  background-color: rgb(255, 255, 255);
}

.cart {
  margin-left: 9px;
  margin-top: 10px;
}

.solid-two {
  border-top: 2px solid #bbb;
  margin: auto;
}

.products {
  width: fit-content;
  padding: 0 30px 0 5px;
  background-color: white;
  margin: 20px 10px 0 10px;
  display: flex;
  transition: 0.5s;
}

.products:hover {
 box-shadow: 1px 1px 15px #888888;
 transition: 0.5s;
 /* transform: scale(1.03); */
}

.product-box-one {
  background-color: seashell;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 100%;
  max-height: 100%;
  transition: 0.2s;
}

.product-one {
  size-adjust: 40px;
  height: 200px;
  width: 200px;
}

.on-hover-button {
  margin-left: 20px;
  z-index: 1;
}

.add-to-sack {
  position: absolute;
  margin-top: -60px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

img {
  height: 100%;
  width: 280px;
  display: block;
  margin: 0;
}

.item-info {
  margin: 0 30px;
}

.prodTitle {
  font-size: 15px;
  font-weight: 500;
}

.price {
  font-weight: 600;
  color: rgb(211, 5, 5);
}

.image-container {
  width: 300px;
}

h4.prodTitle {
  margin: 5px 0 15px 0;
}

.sack-button {
  background-color: transparent;
  border: none;
}

.items-map {
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  justify-content: center;
  margin-bottom: 50px;
}

.product-count {
  line-height: 1.5;
  background-color: red;
  color: white;
  font-size: 11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  margin-left: -10px;
  margin-top: -5px;
}

.footer {
  color: white;
  background-color: black;
  min-height: 100px;
}
/*----------ITEM DETAILS CSS ------------- */

.item-detail {
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: fit-content;
  max-width: 800px;
  height: fit-content;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.close-button {
  background-color: transparent;
  border: none;
  float: right;
  cursor: pointer;
  margin-top: -12px;
  margin-right: -12px;
}

img.thumb {
  height: 100px;
  width: auto;
  margin: 10px;
}

img.thumb:hover {
  cursor: pointer;
  border: 1px solid black;
}

.thumbnail {
  width: 100px;
}

.info {
  margin: 10px 20px;
}

.item-detail-name {
  font-size: 20px;
  font-weight: 500;
}

.item-detail-price {
  color: rgb(211, 5, 5);
  font-weight: 600;
}

.size-buttons {
  background-color: transparent;
  width: 70px;
  padding: 10px 20px;
  margin: 10px 6px;
  border-radius: 25px;
  border: 2px solid rgb(104, 104, 104);
}

.size-buttons:hover {
  cursor: pointer;
  background-color: rgb(213, 213, 213);
  transition: 0.5s;
}

.item-detail-add-button {
  margin-top: 30%;
}

.item-add-button {
  background-color: black;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.item-add-button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  transition: 0.3s;
}


